*{
    padding: 0;
    margin: 0;
}

.container{
    width: 500px;
    margin: 30px auto;
}

#tasklist{
    margin: 20px auto;
}

.heading{
    text-align: center;
    font-size: 40px;
}

.inputTask{
    text-align: center;
}

.header{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    box-shadow: 10px 10px 8px #ccc;
}

.inputTask input{
    padding: 5px;
    font-size: 15px;
    width: 70%;
}

.inputTask button{
    padding: 5px;
    font-size: 15px;
}

.task{
    list-style: none;
    border: 1px solid black;
    padding: 10px;
    margin: 5px auto;
    background-color: rgb(59, 115, 218);
    box-shadow: 5px 5px 5px #ccc;
    
}

.btnGrp{
    float:right;
    mix-blend-mode: color-burn;
}

.btnGrp button{
    border: 0px;
    background-color: white;
    margin: 3px;
}

ul{
    color: white;
    font-family: sans-serif;

}