*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.container{
    display: grid;
    width: 1400px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    /* border: 1px solid black; */
    height: 250px;
    margin: auto;
}

/* .nav-item{
    border: 1px solid black;
} */

.categories{
    grid-column: 1/-1;
}

.todaysDate{
    font-weight: 800;
}

.flexbox{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.icons{
    width: 100%;
}

.dateDetails{
    font-size: 20px;
}

.date{
    padding: 10px
}


.flexNewyorkTimes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 100%;
}

.languages{
    width: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.international{
    font-weight: 800;
}

.subscribeButtons,
.weatherForecast{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navButton{
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(86, 123, 149);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 800;
    font-size: 15px;
}

.subscribeButtons{
    margin-top: 10px;
}
.temprature{
    width: 100%;
}
.weatherForecast{
    margin-top: 40px;
}

.categories{
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    align-items: center;
}

.magazine{
    border-right: 2px solid #ccc;
    padding-right: 25px;
}

.hr{
    height: 0;
    width: 100%;
}

.categories{
    border-top: 2px solid #ccc;
}