*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: url('https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141353.jpg?w=2000') no-repeat;
    background-size: cover;
}
.container{
    width: 900px;
    margin: auto;
    /* border-radius: 30px; */
}
.header{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgba(221, 44, 44, 0.849);
    border-radius: 15px;
}
h1{
    font-size: 40px;
}
.filterWays{
    text-align: center;
    font-size: 30px;
}

#vegSign,
#jainVegSign,
#nonVegSign{
    height: 20px;
    width: 20px;
}

.foodList{
    margin-top: 30px;
}

.foodItem{
    font-size: 30px;
    list-style: none;
    border: 2px solid red;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.76);
    margin: 10px 0;
}

.increaseFood,
.decreaseFood{
    border: 1px solid red;
    /* padding: 5px; */
    border-radius: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    /* padding-bottom: 7px; */
    cursor: pointer;
}
.foodCount{
    font-size: 15px;
}
.foodPrice{
    font-size: 20px;
    margin-right: 20px;
}

.updateFoodCount{
    float:right;
}

.foodName{
    float: left;
}

.foodItem::after{
    content: "";
    display: table;
    clear: both
}

.small{
    font-size: 13px;
    font-style: italic;
}