*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 900px;
    margin: auto;
    border-radius: 10px;
    
}
.header{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgba(148, 75, 221, 0.698);
}
h1{
    font-size: 40px;
}
.filterWays{
    text-align: center;
    font-size: 30px;
}

#vegSign,
#jainVegSign,
#nonVegSign{
    height: 20px;
    width: 20px;
}

.foodItem{
    font-size: 30px;
    list-style: none;
}

.increaseFood{
    border: 1px solid red;
    /* padding: 5px; */
    border-radius: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    /* padding-bottom: 7px; */
    cursor: pointer;
}
.foodCount{
    font-size: 15px;
}

.updateFoodCount{
    float:right;

}