*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(25, 139, 155);
    padding: 10px;
}
a:link{
    color: white;
    text-decoration: none;
    margin-left: 12px;
}

a:visited{
    color: white;
}

a:hover{
    text-decoration: underline;
}

.container{
    width: 90%;
    margin: auto;
    /* border: 2px solid green; */
}

.main-header::after{
    content: "";
    display: table;
    clear: both;
}

.main-header{
    margin: 10px 0px;
}

.author-image{
    border: 2px solid teal;
    width: 100%;
}

.side-a{
    width: 20%;
    /* border: 1px solid black; */
    float: left;
}

.about-author{
    margin-left: 10px;
}

.side-b{
    /* border: 1px solid black; */
    width: 77%;
    float: right;
}

.author-name{
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 10px;
    display: inline-block;
}

.article{
    border: 2px solid rgb(25, 139, 155);
    padding: 10px;
}

.horizontal-rule{
    width: 350px;
}

.author-article{
    margin-top: 50px;
    width: 500px;
}

#btn{
    position: absolute;
    top: -8px;
    left: 95%;
    border: 0px;
    background-color: yellow;
    color: teal;
    padding: 2px;
}

.article{
    position: relative;
}

.nav-items-b{
    float: right;
    width: 30%;
    margin-top: 10px;
}

.nav-items-a{
    float: left;
    width: 20%;
}
.nav::after{
    content: "";
    display: table;
    clear: both;
}


.author-article{
    float:left;
    width: 70%;
}

.side-articles{
    margin-top:50px;
    float: right;
    width: 27%;
    border: 1px solid teal;
    padding: 10px;
}

.holi-image{
    width: 100%;
}

.related-articles-image{
    float: left;
    width: 40%;
    /* border: 1px solid black; */
}

.related-articles-content{
    float: right;
    width: 55%;
    /* border: 1px solid black; */
}

.related-articles::after{
    content: "";
    display: table;
    clear: both;
}

.related-articles{
    margin-top: 10px;
}