.parent{
    height: 200px;
    width: 1200px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 100px auto;
}

.child{
    height: 100%;
    width: 0%;
    border:2px solid black;
    border-radius: 5px;
    background-color: orange;
    animation-name: childmovement;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}


@keyframes childmovement{
    0%{
        width: 0%;
    }
    10%{
        width: 10%;
    }
    20%{
        width: 10%;
    }
    50%{
        width: 50%;
    }
    70%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}